#home-list-heading{
	margin-top:-20px;
}
.navbar-green {
    background-color: #008c10;
    border-color: transparent;
}
.navbar-nav-green > li > a{
	color: white;
}
.navbar-nav-green > li > a:hover{
	color: #ea6645;
}
.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #006d22;
}