html, body, div, span, object, iframe, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-weight: inherit;
font-style: inherit;
font-size: 100%;
font-family: Georgia, "Times New Roman", Times, serif;
font-family: Tahoma, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", arial, sans-serif;
vertical-align: baseline;
}
body {
line-height: 1.6;
color: #333333;
}
.idcard-copy {
margin-right: 6%;
}
.idcard span {
font-weight: bold;
}
.idcard h4 {
font-weight: bold;
text-transform: uppercase;
margin-top: 5px;
}
.idcard td {
border: 1px dotted #000;
padding: 2px 6px;
}
.idcard-wrapper {
margin: 0 auto 0 auto;
width: 550px;
margin-top: 0%;
margin-bottom: 45px;
}
.idcard {
width: 38%;
font-size: 0.7em;
text-align: center;
margin:auto;
display: inline-block;
margin-left: 10%;
}
.idcard .ids {
font-size: 0.9em;
margin: 45px 0 5px 0;
}
.idcard table {
margin-top: 10px;
width: 100%;
border-collapse: collapse;
}
#gen{
font-size:.8em;
}
