@page{
    margin-top:0;
    margin-bottom:0;
    margin-left:0.35in;
    margin-right:0.35in;
}

    body {
        margin-top:0;
        padding: 0;
        background-color: #FAFAFA;
        font: 12pt "Tahoma";

    }
    * {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
    .page {
        width: 21cm;
        min-height: 24cm;
        padding: 0.5cm;
        margin: 0.1cm auto;
        border: 1px #D3D3D3 solid;
        border-radius: 5px;
        background: white;
      /*  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);*/
    }